body {
	font-weight: 300;
	font-size: 25px;
	line-height: 1.6;

	display: flex;
	justify-content: center;
	flex-direction: column;
	

}

.button {
	border: none;
	color: grey;
	text-decoration: none;
	padding: 10px;
	border-radius: 2px;
	
}

.pokemon-list {
	list-style-type: none;
}

.button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.8;
}	